<div class="navbarDirection1">
    <div class="navbarDirection2">
        <div>
            <a [routerLink]="['/startpage']">
                logo
                <img src="#">
            </a>
        </div>
        <div>

        </div>
        <div class="menuLinks">
            <a [routerLink]="['/board']">board</a>
            <a [routerLink]="['/backlog']">backlog</a>
            <a [routerLink]="['/addtask']">add task</a>
            <a [routerLink]="['/history']">history</a>
        </div>
    </div>
</div>